@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00A676;
  --primary-dark: #008A5E;
  --primary-light: #00C28A;
}

body {
  @apply bg-white text-gray-900;
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

